.buttonIcon {
  margin-right: auto;
  background: none;
  border: none;
  padding: 0.6rem;
  border-radius: var(--border-radius-sm);
  transition: all 0.2s;
}

.buttonIcon:hover {
  background-color: var(--color-grey-100);
}

.icon {
  width: 4rem;
  height: 4rem;
  color: var(--color-brand-600);
}
.icon svg {
  font-size: 3rem;
}
