.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--color-grey-100);
  border-bottom: 1px solid var(--color-grey-200);
  position: relative;
  z-index: 1000; /* Ensure it is above other content */
}

/* Adjust the styles of other header contents as needed */
.Beta {
  width: 7rem;
}
