/* Input.module.css */

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  border: 1px solid var(--color-grey-300);
  background-color: var(--color-grey-0);
  border-radius: var(--border-radius-sm);
  padding: 0.8rem 1.2rem;
  box-shadow: var(--shadow-sm);
}
.input.withToggleIcon {
  width: 100%; /* Full width only when the toggle is shown */
  padding-right: 30px; /* Space for the eye icon */
}
.toggleIcon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  user-select: none; /* Prevents selection */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
}
