.NavList {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.NavLink {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  color: var(--color-grey-600);
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.2rem 2.4rem;
  transition: all 0.3s;
  text-decoration: none;
}

.NavLink:hover,
.NavLink:active,
.NavLink.active:link,
.NavLink.active:visited {
  color: var(--color-grey-800);
  background-color: var(--color-grey-50);
  border-radius: var(--border-radius-sm);
}

.NavLink svg {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--color-grey-400);
  transition: all 0.3s;
}

.NavLink:hover svg,
.NavLink:active svg,
.NavLink.active:link svg,
.NavLink.active:visited svg {
  color: var(--color-brand-600);
}
