.ForgetPassLayout {
  min-height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  background-color: var(--color-grey-50);
}
