.container {
  padding: 2.4rem 4rem;
  background-color: var(--color-grey-0);
  border: 1px solid var(--color-grey-100);
  border-radius: var(--border-radius-md);
  max-width: 120rem;
  margin: 0 auto;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 15px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.noline {
  border: none !important;
}
.countertext {
  display: flex;
  justify-content: end;
}
.title {
  font-size: 28px;
  color: #333;
  margin: 0;
}

.ticketNumber {
  font-size: 16px;
  color: #888;
  margin-top: 8px;
}

.userInfo {
  text-align: right;
}

.userInfo strong {
  font-size: 18px;
  color: #333;
}

.email {
  font-size: 14px;
  color: #888;
}
.details {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: var(--color-silver-100);
}

.detailRow {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.detailRow strong {
  color: #888;
  font-weight: 500;
  font-size: 14px;
}

.detailRow span {
  color: #333;
  font-size: 16px;
  font-weight: 600;
}
.descriptionSection {
  margin-bottom: 20px;
}

.descriptionSection h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  color: #444;
  white-space: pre-line;
}

.attachments {
  margin-top: 20px;
  margin-bottom: 20px;
}

.attachments h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.attachmentList {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.attachmentItem {
  flex: 1 0 150px;
  max-width: 150px;
  text-align: center;
}

.attachmentImage {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.attachmentLink {
  display: block;
  margin-top: 8px;
  color: #1a73e8;
  text-decoration: none;
  font-weight: 500;
}

.attachmentLink:hover {
  text-decoration: underline;
}

.repliesSection {
  border-top: 1px solid #e0e0e0;
  margin-top: 30px;
  padding-top: 30px;
}

.reply {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
  max-width: 100%;
}
.replyLeft {
  text-align: right;
  padding: 10px;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  color: var(--color-green-700);
  background-color: var(--color-green-100);
}
.fileUploadWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.replyAttachments {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.fileUploadLabel {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.fileUploadLabel i {
  margin-right: 8px;
  font-size: 1.2em;
}

.fileInputHidden {
  display: none;
}

.replyRight {
  padding: 10px;

  text-align: right;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  color: var(--color-blue-700);
  background-color: var(--color-blue-100);
}
/*  */
.textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.submitButton {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton:disabled {
  background-color: #ccc;
}
.repliesSection h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.noReplies {
  margin-bottom: 30px;
  font-size: 16px;
  color: #999;
  text-align: center;
  padding: 20px;
  border: 1px dashed #ddd;
  border-radius: 5px;
}
@media (max-width: 1200px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .userInfo {
    text-align: left;
    margin-top: 10px;
    width: 100%;
  }

  .title {
    font-size: 24px;
  }

  .ticketNumber {
    font-size: 14px;
  }

  .userInfo strong {
    font-size: 16px;
  }

  .email {
    font-size: 13px;
  }
}
